
footer {

  color: lighten($jd19de-blue, 35%);
  position: relative;
  z-index: 2;

  h3 {
    font-size: 24px;
    letter-spacing: 2px;
  }

  .wrap-inside {

    position: relative;
    z-index: 2;
      @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
      }
      & > * {
        margin: 0;
        padding: 100px 25px 120px 25px;
        width: calc(100% - 50px);
        @media (min-width: 768px) {
          width: calc(50% - 50px);
        }
        @media (min-width: 992px) {
          width: calc(25% - 50px);
        }
      }

  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      display: block;
      padding: 0 0 20px 0;
    }
  }

  a {
    color: lighten($jd19de-blue, 35%);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  input[type="text"],
  input[type="email"] {
    border: 2px solid lighten($jd19de-blue, 35%);
    background-color: rgba(196, 224, 227, 0.3);
    color: lighten($jd19de-blue, 35%);
    letter-spacing: 2px;
    margin-bottom: 5px;
    width: calc(100% - 10px);
    padding: 5px;
    &:hover,
    &:focus {
      background-color: lighten($jd19de-blue, 35%);
      transition: background-color 300ms linear;
      border-color: lighten($jd19de-blue, 35%);
      color: $jd19de-darkblue;
    }
  }

  input[type="submit"] {
    // background: 0 none;
    // border: 2px dotted lighten($jd19de-blue, 35%);
    // color: lighten($jd19de-blue, 35%);
    // width: 100%;
    // padding: 5px;
    // cursor: pointer;
    // letter-spacing: 2px;
    // text-transform: uppercase;
    // &:hover,
    // &:focus {
    //   transition: all 300ms linear;
    //   background-color: lighten($jd19de-blue, 35%);
    //   border-color: lighten($jd19de-blue, 35%);
    //   color: $jd19de-darkblue;
    // }

    @include button(lighten($jd19de-blue, 35%), $jd19de-darkblue, 'auto', 'transparent');
  }

  #social_media img {
    height: 22px;
    margin-right: 10px;
    transition: all 0.3s;
    opacity: 0.7;
    &:hover  {
      opacity: 1;
    }
  }
}
