// main

// general

main {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: 70px;

  article {
    width: calc(100% - 40px);
    margin-left: 20px;
    @media screen and (min-width:768px) {
      width: calc(100% - 80px);
      margin-left: 40px;
    }

    @media screen and (min-width: 960px) {
      &.with-sidebar {
        width: calc(66.6% - 10px);
      }
      &.full-width {
         width: 100%;
      }
      margin-left: 0;
    }
  }

  aside {
    width: calc(100% - 40px);
    margin-left: 20px;
    @media screen and (min-width:768px) {
      width: calc(100% - 80px);
      margin-left: 40px;
    }
    @media screen and (min-width: 960px) {
      width: calc(33.4% - 10px);
      margin-left: 0;
    }
    margin-bottom: 60px;
    .custom {
      margin-bottom: 20px;
    }
  }
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

body:not(.landingpage) article {
  background-color: $jd19de-transparent-white;
  margin-bottom: 60px;

  h2 {
    margin: 0;
    background-color: $jd19de-red;
    color: white;
    padding: 20px 20px;
    margin: 0;
    position: relative;
    z-index: 2;

    @media screen and (min-width:768px) {
      padding: 20px 60px;
      margin: -10px 0 -20px -20px;
    }

    @media screen and (min-width:960px) {
      padding: 20px 60px;
      margin: -10px 0 -20px -20px;
    }
  }

  h3,
  h4 {
    color: $jd19de-red;
  }

  div[itemprop="articleBody"] {
    padding: 20px;
    @media screen and (min-width:768px) {
      padding: 40px;
    }
  }

  a:not(.btn) {
    color: $jd19de-blue;
    text-decoration: underline;
    &:hover {
      color: $jd19de-darkblue;
      text-decoration: none;
    }
  }
}




