// news, blog, Aktuelles ... what ever ...

body.aktuelles {
  article {
    background-color: transparent !important;

    .item-page {
      background-color: $jd19de-transparent-white;
    }

    h2 {
      margin: -10px -40px 40px -60px;
    }
  }
}

.blog .item {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.blog .item .item-image img {
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-top: -10px;
  height: auto;
  display: block;
}

.blog .item p.readmore {
  text-align: center;
  width: 100%;
  margin: 0px;
}

.blog .item .page-header {
  color: $jd19de-blue;
}
