// particles
// https://github.com/VincentGarreau/particles.js/

#particles-nav {
  @include gradient-blue;
  position: relative;
  width: 100%;
  min-height: 100vh;
  // background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  canvas {
    position: absolute;
    top: 0;
    z-index: 1;
  }
}
