// speaker

// list
.conferenceplus.speakerslist .listitems {
  margin-top: 60px;
}

.conferenceplus.speakerslist .speakersblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0 2em 0;
}

.conferenceplus.speakerslist .speakersblock div:first-child {
  width: 25%;
}

.conferenceplus.speakerslist .speakersblock div:last-child {
  width: 72%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.conferenceplus.speakerslist .speakername {
  font-family: 'Elsie', cursive;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.8em;
  line-height: 1.4em;
}

.conferenceplus.speakerslist .speakersblock .info a {
  @include button($jd19de-red, white, 'auto', 'invert');
  margin-top: 10px;
}

// single
.conferenceplus.item.session {
  h5.speakertitle {
    margin-left: 40px;
  }

  .speakerprofile {
    padding: 0 40px 40px 40px;
  }
}

.conferenceplus.item.speaker .speakerdescription,
.conferenceplus.item.session .sessiondescription {
  margin-top: 20px;
  padding: 40px;
  border-bottom: 1px solid #ccc;
}

.conferenceplus.item.session .speakerprofile,
.conferenceplus.item.speaker .speakerprofile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .speakerimage {
    margin-bottom: 30px;
  }

  & + h5 {
    margin-left: 40px;
  }

  & + h5 + div > ul.speakerssessions {
    list-style: none;
  }
}

@media screen and (min-width:960px) {
  .conferenceplus.item.session .speakerprofile .col-md-4,
  .conferenceplus.item.speaker .speakerprofile .col-md-4 {
    width: 30%;
  }

  .conferenceplus.item.session .speakerprofile .col-md-8,
  .conferenceplus.item.speaker .speakerprofile .col-md-8 {
    width: 64%;
  }
}
