// sponsors

// page
.sponsoren {
  article {
    h4 {
      font-size: 1.8em;
      line-height: 1.4em;
      margin-top: 40px;
      &:first-child {
        margin-top: 20px;
      }
    }
  }
}


// list
.sponsorlist {
  background-color: rgba($jd19de-blue, 0.1);
  border-top: 1px solid $jd19de-blue;
  border-bottom: 1px solid $jd19de-blue;
  width: 100%;
  padding: 30px 0px;
  box-sizing: border-box;
  text-align: center;

  #top & {
    background-color: rgba(white, 0.1);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

}

.sponsor-main {
  color: Gold;
}

.sponsor-gold {
  color: White;
}

.sponsor-silver {
  color: Silver;
}

.sponsor-bronze {
  color: Grey;
}

.sponsorlist a {
  color: lighten($jd19de-blue, 35%);
  display: inline-block;
  margin-top: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 0.8em;
}

.sponsorlist ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sponsorlist ul li {
  display: inline-block;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  margin: 10px 0px;
}

.sponsorlist ul li figure {
  width: 100%;
}

.sponsorlist ul li img {
  width: 40%;
  height: auto;
  display: block;
  margin: 0px auto 10px auto;
}

.sponsorlist ul li p {
  margin: 0px;
}

@media screen and (min-width:768px) {
  .sponsorlist ul li {
    width: 25%;
    font-size: 14px;
    line-height: 14px;
  }
}
