// colors

$jd19de-red:                #ff5959;
$jd19de-orange:             #ffad5a;
$jd19de-blue:               #4f9da6;
$jd19de-darkblue:           #1a0841;
$jd19de-transparent-white:  rgba(255,255,255,0.95);



// fonts

// @import url('https://fonts.googleapis.com/css?family=Poppins|Sintony');
// @import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik:700);
// @import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Elsie|Roboto');



// html selectors

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    overflow-x: hidden;
    color: #111;
}

img {
    max-width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s all ease;
  color: #cdcdcd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Elsie', cursive;
  font-weight: 400;
  letter-spacing: 0;
  // text-transform: uppercase;
}

h1 {
  font-size: 2.4em;
  line-height: 2.1em;
}

h2 {
  font-size: 1.8em;
  line-height: 1.4em;
}

h3 {
  font-size: 1.8em;
  line-height: 1.4em;
}

h4 {
  font-size: 1em;
  line-height: 0.9em;
  margin: 0;
}

h5 {
  font-size: 1em;
  line-height: 0.9em;
}

hr {
  border: 0 none;
  border-top: 1px solid #ccc;
}

// helpers

.wrap-inside {
  max-width: 1200px;
  margin: 0 auto;
}



// gradients

@mixin gradient-red {
  background: $jd19de-red;
  background: -moz-linear-gradient(45deg, $jd19de-red 0%, #ff8787 100%);
  background: -webkit-linear-gradient(45deg, $jd19de-red 0%,#ff8787 100%);
  background: linear-gradient(45deg, $jd19de-red 0%,#ff8787 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$jd19de-red', endColorstr='#ff8787',GradientType=1 );
}

@mixin gradient-blue {
  background: $jd19de-darkblue;
  background: -moz-linear-gradient(45deg, $jd19de-darkblue 0%, $jd19de-blue 100%);
  background: -webkit-linear-gradient(45deg, $jd19de-darkblue 0%,$jd19de-blue 100%);
  background: linear-gradient(45deg, $jd19de-darkblue 0%,$jd19de-blue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$jd19de-darkblue', endColorstr='$jd19de-blue',GradientType=1 );
}
